 <p    style="display:inline-block">  
	分类
	<br />
	信息
 </p> 
 
					 #foreach($ref in $!{game.getTypeRefs()})
        				     &nbsp;&nbsp;                    
						       <p   class="text-success" style="display:inline-block">                       
        						$!{ref.pk.gameType.name}
        						<br >
									
        						<a href="#" link="$!{urlTools.tr('/game/type/ref/delete?gameId=')}$!{game.id}&typeId=$!{ref.pk.gameType.id}" onclick="ws.post(this,'game_type_view')" class="btn btn-xs btn-danger " role="button">删除</a> 
								
                          </p>
                
						   				
					#end
 &nbsp;&nbsp;  
	<p   class="text-success" style="display:inline-block">                       
			
		<br >
			<a onclick="initType()" class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#typeModel">
					添加</a> 
			
      </p>