

<SCRIPT >


</SCRIPT>
<script>
	$(function() {
	
			$.getScript("$!{urlTools.ts('/kindeditor/kindeditor.js')}", function() {
			
				//KindEditor.create('textarea[name="content"]');						
				var editor = KindEditor.editor({
                allowFileManager: false,
                fileManagerJson: "$!{urlTools.tr('/ke/filelist')}",
        		uploadJson: "$!{urlTools.tr('/ke/upload')}",
                urlType: 'domain',
                
            });	
	
			KindEditor('#ImageUrlBtn').click(function() {
				editor.loadPlugin('image', function() {
					editor.plugin.imageDialog({						
						imageUrl :  KindEditor('#ImageUrlImg').attr('src'),
						clickFn : function(url, title, width, height, border, align) {
				            alert(url);
							KindEditor('#ImageUrlImg').attr('src',url );								 
							$('#appLogo').val(url);							 
							editor.hideDialog();
						}
					});
				});
			});	
			});		
	});
</script>



<div class="panel panel-default">
	
<div class="panel-heading"><a href="#" onclick="ws.callback()" type="button" class="pull-right">
	<span class="glyphicon glyphicon-fast-backward"  aria-hidden="true"></span> 返回列表
</a>
修改评价</div>
	
<div class="panel-body">
	
	<div class="container marketing">
		<div class="pull-right" style="width:160px; position: absolute;right: 80px;top: 100px;" id="update_alert_view">
			
		</div>
		</div>
	
        <form class="form-horizontal"  action="$!{urlTools.tr('/game/comment/update')}" onsubmit="return ws.ajaxform($(this))">
			<input type="hidden" name="id"  value = "$!{comment.id}">
			
          <div class="form-group has-success has-feedback">            
            <label class="control-label col-sm-2" for="name">评价内容</label>
            <div class="col-sm-6">
            	<div class="input-group">
                <span class="input-group-addon">*</span>
                <input type="text" class="form-control" name="content" value="$!{comment.content}" id="content" aria-describedby="appNameStatus">
              </div>
              
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span id="weixinNameStatus" class="sr-only">(success)</span>
            </div>
          </div>		 
			<!-- 
		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
		 -->
		 <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit"  class="btn btn-success">保存</button>
            </div>
          </div>
        </form>
  </div>
  
  <div class="panel-footer"></div>
</div>

