<!DOCTYPE html>
<!-- saved from url=(0041)http://v3.bootcss.com/examples/dashboard/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>管理后台</title>
	
    #parse("/layout/header.vm") 
  	<script>
			$(function() {
			
					$.getScript("$!{urlTools.ts('/kindeditor/kindeditor.js')}", function() {
					
        					//KindEditor.create('textarea[name="content"]');						
        					var editor = KindEditor.editor({
                            allowFileManager: false,
                            fileManagerJson: "$!{urlTools.tr('/ke/filelist')}",
                    		uploadJson: "$!{urlTools.tr('/ke/upload')}",
                            urlType: 'domain',
                            
                        });	
        		
        				KindEditor('#ImageUrlBtn').click(function() {
            				editor.loadPlugin('image', function() {
            					editor.plugin.imageDialog({						
            						imageUrl :  KindEditor('#ImageUrlImg').attr('src'),
            						clickFn : function(url, title, width, height, border, align) {
            				            alert(url);
            							KindEditor('#ImageUrlImg').attr('src',url );								 
            							$('#appLogo').val(url);							 
            							editor.hideDialog();
            						}
            					});
            				});
            			});	
						KindEditor('#fileUrlBtn').click(function() {
            				editor.loadPlugin('insertfile', function() {
            					editor.plugin.fileDialog({						
            						fileUrl :  KindEditor('#Url').val(),					
            						clickFn : function(data) {														
            							data.title
            							
            							editor.hideDialog();
            						}
            					});
            				});
            			});
						
            			
            			
					});
								
			});
			
			function ajxasubmit(target){
				target.ajaxSubmit({
                //定义返回JSON数据，还包括xml和script格式
                dataType:'json',
				type:'POST',
                beforeSend: function() {
                    //表单提交前做表单验证
                },
                success: function(data) {
                    //提交成功后调用
                    alert("成功");
                }
            	});
				//alert(target.attr("action"));
				
				return false;
			}
  </script>
	
	
  </head>

  <body>

    
	#parse("/layout/top.vm")
		
	
    <div class="container-fluid">
      <div class="row">
		
		
        <div class="col-sm-3 col-md-2 sidebar" >
          
		  
         #parse("layout/leftslide.vm")
		 
           
        </div>
		
	
				
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			
		<!--
		<a href="#" onclick="test()">
			sgaslgj
        </a>
		-->
		
		<div id="container_iframe">
              <div class="row placeholders">
				<table class="table table-bordered">
					<tr >
						<td >
							<div class="col-xs-6 col-sm-3 placeholder">
							<form class="form-horizontal" id="appCreate11" action="$!{urlTools.tr('/import/typeFile')}" onsubmit="return ajxasubmit($(this))" >
           		  
                		 <div class="form-group">
                                  	<label for="fortypeFile"  >分类-game_type</label>
                    			 
        							<input  id="fortypeFile" type="file" name="typeFile"/>
                    			  
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
							  
							  <a type="button" class="btn btn-default btn-xs"  href="$!{urlTools.tr('/import/downtypeFile')}">下载导出表格</a>
                            </div>
                          </div>
                        </form>	
                            </div>
                        </td>
						
						<td >
							<div class="col-xs-6 col-sm-3 placeholder">
							
							
							<form class="form-horizontal" enctype="multipart/form-data" id="appCreate22" action="$!{urlTools.tr('/import/gameFile')}" onsubmit="return ajxasubmit($(this))" >
										
                    		   <div class="form-group">
                                  	<label for="forgamefile"  >游戏数据表- game</label>
                    			 
        							<input  id="forgamefile" type="file" name="gameFile"/>
                    			  
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
							  <a type="button" class="btn btn-default btn-xs"  href="$!{urlTools.tr('/import/downgameFile')}">下载导出表格</a>		
                            </div>
                          </div>
                        </form>	
                            </div>
                        </td>
						
						<td >
							<div class="col-xs-6 col-sm-3 placeholder">
							<form class="form-horizontal" id="appCreate33" action="$!{urlTools.tr('/import/tagFile')}" onsubmit="return ajxasubmit($(this))" >
           		  
                		  <div class="form-group">
                                  	<label for="fortagfile"  >词条数据表 tag</label>
                    			 
        							<input  id="fortagfile" type="file" name="tagFile"/>
                    			  
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
							   <a type="button" class="btn btn-default btn-xs"  href="$!{urlTools.tr('/import/downtagFile')}">下载导出表格</a>		
                            </div>
                          </div>
                        </form>	
                            </div>
                        </td>
						
						
                    </tr>
					
					<tr >
						<td >
							<div class="col-xs-6 col-sm-3 placeholder">
							<form class="form-horizontal" id="appCreate11" action="$!{urlTools.tr('/import/commentFile')}" onsubmit="return ajxasubmit($(this))" >
           		  
                		 <div class="form-group">
                                  	<label for="forcommentFile"  >游戏评价 game_comment</label>
                    			 
        							<input  id="forcommentFile" type="file" name="commentFile"/>
                    			  
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
							  
							  <a type="button" class="btn btn-default btn-xs"  href="$!{urlTools.tr('/import/downcommentFile')}">下载导出表格</a>
                            </div>
                          </div>
                        </form>	
                            </div>
                        </td>
						
						<td >
							<div class="col-xs-6 col-sm-3 placeholder">
							
							
							<form class="form-horizontal" enctype="multipart/form-data" id="appCreate22" action="$!{urlTools.tr('/import/slideFile')}" onsubmit="return ajxasubmit($(this))" >
										
                    		   <div class="form-group">
                                  	<label for="forslideFile"  >  slide</label>
                    			 
        							<input  id="forslideFile" type="file" name="slideFile"/>
                    			  
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
							  <a type="button" class="btn btn-default btn-xs"  href="$!{urlTools.tr('/import/downslideFile')}">下载导出表格</a>		
                            </div>
                          </div>
                        </form>	
                            </div>
                        </td>
						
						<td >
							<div class="col-xs-6 col-sm-3 placeholder">
							<form class="form-horizontal" id="appCreate33" action="$!{urlTools.tr('/import/showFile')}" onsubmit="return ajxasubmit($(this))" >
           		  
                		  <div class="form-group">
                                  	<label for="forshowFile"  >slideshow</label>
                    			 
        							<input  id="forshowFile" type="file" name="showFile"/>
                    			   	
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
							  
							  <a type="button" class="btn btn-default btn-xs"  href="$!{urlTools.tr('/import/downshowFile')}">下载导出表格</a>	
                            </div>
                          </div>
                        </form>	
                            </div>
                        </td>
						
						
                    </tr>
					
					
					<tr >
						<td >
							<div class="col-xs-6 col-sm-3 placeholder">
							<form class="form-horizontal" id="appCreate11" action="$!{urlTools.tr('/import/picFile')}" onsubmit="return ajxasubmit($(this))" >
           		  
                		 <div class="form-group">
                                  	<label for="forpicFile" >game_pic</label>
                    			 
        							<input  id="forpicFile" type="file" name="picFile"/>
                    			  
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
							  
							  <a type="button" class="btn btn-default btn-xs"  href="$!{urlTools.tr('/import/downpicFile')}">下载导出表格</a>
                            </div>
                          </div>
                        </form>	
                            </div>
                        </td>
						
						<td >
							<div class="col-xs-6 col-sm-3 placeholder">
							
							
							<form class="form-horizontal" enctype="multipart/form-data" id="appCreate22" action="$!{urlTools.tr('/import/gameTypeFile')}" onsubmit="return ajxasubmit($(this))" >
										
                    		   <div class="form-group">
                                  	<label for="forslideFile" >game_type_ref</label>
                    			 
        							<input  id="forslideFile" type="file" name="gameTypeFile"/>
                    			  
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
							  <a type="button" class="btn btn-default btn-xs"  href="$!{urlTools.tr('/import/downgameTypeFile')}">下载导出表格</a>		
                            </div>
                          </div>
                        </form>	
                            </div>
                        </td>
						
						<td >
							<div class="col-xs-6 col-sm-3 placeholder">
							<form class="form-horizontal" id="appCreate33" action="$!{urlTools.tr('/import/gameCommentFile')}" onsubmit="return ajxasubmit($(this))" >
           		  
                		  <div class="form-group">
                                  	<label for="forshowFile"  >game_comment_ref</label>
                    			 
        							<input  id="forshowFile" type="file" name="gameCommentFile"/>
                    			   	
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
							  
							  <a type="button" class="btn btn-default btn-xs"  href="$!{urlTools.tr('/import/downgameCommentFile')}">下载导出表格</a>	
                            </div>
                          </div>
                        </form>	
                            </div>
                        </td>
						
						
                    </tr>
					
					
					<tr >
						<td >
							<div class="col-xs-6 col-sm-3 placeholder">
							<form class="form-horizontal" id="appCreate11" action="$!{urlTools.tr('/import/typeTagFile')}" onsubmit="return ajxasubmit($(this))" >
           		  
                		 <div class="form-group">
                                  	<label for="forpicFile" >type_tag_ref</label>
                    			 
        							<input  id="forpicFile" type="file" name="typeTagFile"/>
                    			  
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
							  
							  <a type="button" class="btn btn-default btn-xs"  href="$!{urlTools.tr('/import/downtypeTagFile')}">下载导出表格</a>
                            </div>
                          </div>
                        </form>	
                            </div>
                        </td>
						
						<td >
							<div class="col-xs-6 col-sm-3 placeholder">
							
							
							<form class="form-horizontal" enctype="multipart/form-data" id="appCreate22" action="$!{urlTools.tr('/import/slideShowFile')}" onsubmit="return ajxasubmit($(this))" >
										
                    		   <div class="form-group">
                                  	<label for="forslideFile" >slide_show_ref</label>
                    			 
        							<input  id="forslideFile" type="file" name="slideShowFile"/>
                    			  
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
							  <a type="button" class="btn btn-default btn-xs"  href="$!{urlTools.tr('/import/downslideShowFile')}">下载导出表格</a>		
                            </div>
                          </div>
                        </form>	
                            </div>
                        </td>
						<!--
						<td >
                    
							<div class="col-xs-6 col-sm-3 placeholder">
							
							
							<form class="form-horizontal" id="appCreate22" action="$!{urlTools.tr('/admin/test')}" method="post" >
										
                    		   <div class="form-group">
                                  	<label for="forslideFile" >中文</label>
                    			 
        							<input  type="text"  name="name" value=""/>
                    			  
                                </div> 
                			<!-- 
                		 <textarea name="content" style="width:700px;height:200px;visibility:hidden;">KindEditor</textarea>
                		 -->
                		 <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit"  class="btn btn-success">保存</button>
                            </div>
                          </div>
                        </form>	
                            </div>
						
						    </td>
							-->
                    </tr>
					
					
				</table>
				
               
            
              </div>
        
             
            
           </div>
        </div>
		
		<!--分隔符 -->
	
							
							
		
		
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  



</body>
</html>