	  
  
<div class="panel panel-default">
<div class="panel-heading">游戏管理</div>
	
  <div class="panel-body">
	
	
		
	<div class="highlight">
							
				<div class="row">	
					
					<div class="col-md-8">
						
    					
							
					</div>
					<div class="col-md-4 pull-right">
						
						<form class="form-inline" id="gamesearch" role="form" onsubmit="return false" method="post">
							
                          <div class="form-group">
                            <label class="sr-only control-label" for="forvalue">游戏搜索</label>
                            <input type="text" id="game_name_search" sign="$!{sign}" url ="$!{urlTools.tr('/game/list')}" upalias="" opgroup="AND" alias="game" group="1" name="name"  operate="LIKE"   placeholder="游戏名称">
                          </div>						  
                          <button type="button"  url ="$!{urlTools.tr('/game/search')}" onclick="javascript:ws.search(this,'$!{sign}','#gamesearch');" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>搜索</button>
                        </form>	
						
					</div>
															
				</div>
			<div id = "search_view">	
				 <div class="thumbnail">
        				<dl class="dl-horizontal ">
                            
							<dt>ID范围:</dt>
                            <dd>  
							<label class="radio-inline">
								<input type="text" id="game_id_more" sign="$!{sign}" upalias="" url ="$!{urlTools.tr('/game/list')}" opgroup="AND" alias="game" group="1" name="id"  operate="GTE" onchange="javascript:ws.check(this);" value="" >
									
                         	
        						<input type="text" id="game_id_less" sign="$!{sign}" upalias="" url ="$!{urlTools.tr('/game/list')}" opgroup="AND" alias="game" group="1" name="id"  operate="LTE" onchange="javascript:ws.check(this);" value="" >
        			
                 			 </label>  
					
							</dd>
							<br />
							<dt>有效性:</dt>
							  <dd> 
								<div class="radio-inline"> 
								 <label class="radio-inline">
							  <input type="radio" id="game_status_true" sign="$!{sign}" upalias="" url ="$!{urlTools.tr('/game/list')}" opgroup="AND" alias="game" group="1" name="status" id="" operate="IS" onchange="javascript:ws.check(this);" value="1" >
                                                                                                            有效
                           </label> 
                           <label class="radio-inline">
                                <input type="radio" id="game_status_false" sign="$!{sign}" upalias="" url ="$!{urlTools.tr('/game/list')}" opgroup="AND" alias="game" group="1" name="status" id="" operate="IS" onchange="javascript:ws.check(this);" value="0" >
								 无效
                           </label>
						  </div>
							</dd>	
                          <br/>
							<dt>按ID排序:</dt>
							  <dd> 
								<div class="radio-inline"> 
								 <label class="radio-inline">
							  <input type="radio" id="game_sort_asc" sign="$!{sign}" upalias="" url ="$!{urlTools.tr('/game/list')}" opgroup="ORDER" alias="game" group="1" name="id" id="" operate="ASC" onchange="javascript:ws.check(this);" value="1" >
                                                                                                           升序
                           </label> 
                           <label class="radio-inline">
                                <input type="radio" id="game_sort_desc" sign="$!{sign}" upalias="" url ="$!{urlTools.tr('/game/list')}" opgroup="ORDER" alias="game" group="1" name="id" id="" operate="DESC" onchange="javascript:ws.check(this);" value="0" >
								降序
                           </label>
						  </div>
							</dd>	
                          </dl>
        			 </div>
			    
		
		<div id="second_view">
        
            	<div class="panel panel-default">
                <div class="panel-heading"><a asynchronize="true"  href="#" > 游戏列表 </a></div>                	
                <div class="panel-body">
                <table class="table table-bordered">
					
                	 <tr>
                		<td>ID</td>
                		<td>游戏名称</td>
                		<td>分类</td>
                		<td>标签</td>
                		<td>创建时间</td>
                		<td>操作</td> 
						
                     </tr>
					 
                        	#foreach($item in $!{context.list})
                        		 <tr>
                        			<td>$!{item.id}</td>
                        			<td>$!{item.name}</td>
                					
                					<td>
										#foreach($type in $!{item.getGametypes()})
											$!{type.name}&nbsp;
											#end
										</td>		
									<td>
			
				                   
										评价添加_<span class="text-primary">$!{item.getCommentRefs().size()}</span>
										_条
								
									<br />
								
										图片添加_<span class="text-primary">$!{item.getPics().size()}</span>_张
							
									</td>
										
                        			<td>
										
                						$!{item.createTime}
										
                					</td>
                					
                					<td>
                						#if($!{item.status}==1)
                						<div class="btn-group" role="group" aria-label="...">
										  <a type="button" onclick="javascript:ws.get(this,'')" link="$!{urlTools.tr('/game/view?id=')}$!{item.id}"  class="btn btn-xs btn-primary">详情</a>
                						  &nbsp;
                                          <a type="button" onclick="javascript:ws.get(this,'')" link="$!{urlTools.tr('/game/update?id=')}$!{item.id}"  class="btn btn-xs btn-success">修改</a>
                						  &nbsp;
                                          <a type="button" onclick="javascript:ws.delback(this,'')" link="$!{urlTools.tr('/game/delete?id=')}$!{item.id}"  class="btn btn-xs btn-danger">删除 </a>                             
                                        </div>
										#elseif($!{item.status}==0)
											<div class="btn-group" role="group" aria-label="...">
										  <a type="button" onclick="javascript:ws.recback(this,'')" link="$!{urlTools.tr('/game/recover?id=')}$!{item.id}"  class="btn btn-xs btn-warning">恢复</a>
                						  </div>
										#end	
										
                						
                					</td>
                                    
                                 </tr>
                        	#end
                    </table>
                		<div id="pageNav">
                				<div class=" pull-left pagination">
                					<a type="button" onclick="javascript:ws.get(this,'')" link="$!{urlTools.tr('/game/create')}" class="btn btn-sm btn-primary">新建游戏</a>
                				</div>            				
                				#parse("/layout/pagenav.vm")
								
                           </div>
                		   
                </div>
                </div>
                		   
			   
			  
		</div>
		
			</div>
       </div>
	</div>
</div>
                          
