
<div class="panel panel-default">
<div class="panel-heading">
	
游戏添加
	<a href="#" onclick="ws.callback()" type="button" class=" pull-right">
	<span class="glyphicon glyphicon-fast-backward"  aria-hidden="true"></span> 返回列表
</a></div>
	
<div class="panel-body">
		#if($!{rdata.rcode}=="1")
			
			<div class='alert alert-success fade in ' style="width:160px;">
			<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
			<strong>$!{rdata.message}</strong></div>
		
		#else
				<div class='alert alert-danger fade in' style="width:160px;">
					<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
					<strong>$!{rdata.message}</strong></div>	
		#end
		
    <a href="#" type="button" class="btn btn-sm btn-primary" onclick="javascript:ws.get(this,'')" link="$!{urlTools.tr('/game/create')}" >
    	 继续添加
    </a>
	
	 <a href="#" type="button" class="btn btn-sm btn-info" onclick="javascript:ws.get(this,'')" link="$!{urlTools.tr('/game/view?id=')}$!{game.id}" >
    	 游戏详情
    </a>
	
  </div>  
  <div class="panel-footer"></div>
  
</div>

